body {
    background-color: #1e1e1e;
    font-family: 'Courier New', monospace;
    color: #e0e0e0;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff4081;
    padding: 20px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3.5em;
    margin: 0;
    color: #ffffff;
    letter-spacing: 2px;
}

h2 {
    margin-top: 20px;
    color: #76ff03;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #ff4081;
    margin: 30px 0 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.style-selection {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 auto; 
    display: inline-block; 
    background-color: #ff80ab; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.style-selection li {
    margin: 5px 0;
}

.flower-selection {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0 auto; 
    display: inline-block; 
    background-color: #ff80ab;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.flower-selection li {
    margin: 5px 0;
}

ul {
    padding: 0;
}

ul li {
    display: inline-block;
    padding: 12px;
    margin: 5px;
    background-color: #333;
    color: #76ff03;
    border: 2px solid #ff4081;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

ul li:hover {
    background-color: #ff4081;
    color: #ffffff;
    transform: scale(1.1);
}

img {
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
    width: 400px;
    height: auto;
}

footer {
    background-color: #ff4081;
    color: #fff;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.3);
}
